		*,
		html,
		body {
			margin: 0;
			padding: 0;
		}

		body {
			overflow: hidden;
			background-image: url("images/nana1.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}

		.snowfall-flakes::before,
		.snowfall-flakes::after {
			content: "";
			background: red;
			width: 10px;
			height: 16px;
			position: absolute;
			border-radius: 5px 5px 0 0;
			transform: rotate(-45deg);
		}

		.snowfall-flakes::after {
			transform: translateX(4px) rotate(45deg);
		}
		
		@keyframes rotate{
			from {transform: rotate(0deg);} 
            to {transform: rotate(360deg);}
		}
		
		@-webkit-keyframes rotate{
			from {-webkit-transform: rotate(0deg);} 
            to {-webkit-transform: rotate(360deg);}
		}
		
		.contorl_panel {
			position: absolute;
			width: 100px;
			height: 100px;
			border: 1px solid red;
			background-image: url("images/nana.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			bottom: 10px;
			left: 10px;
			border-radius: 50%;
			
			transition-property: -webkit-transform;
			animation: rotate 10s linear infinite;
			
			-webkit-transition-property: -webkit-transform;
			 -webkit-animation: rotate 10s linear infinite;
		}

		.control_button {
			width: 5em;
			height: 5em;
			border: 1px solid red;
			margin: auto 0;
			position: absolute;
			top: 50%;
			bottom: 50%;
			left: 9%;
			background-image: url("images/pause.svg");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			opacity: .1;
			border-radius: 50%;
		}

		.contorl_panel:hover .control_button {
			opacity: .5;
		}
		
		@keyframes love {
			0% {transform: translateY(0px); opacity: 0;} 
            50% {transform: translateY(-20rem); opacity: .5;}
			100% {transform: translateY(0px); opacity: 0;}
		}
		
		@-webkit-keyframes love {
			0% {-webkit-transform: translateX(0px);} 
            50% {-webkit-transform: translateX(-20rem); opacity: .5;}
			100% {transform: translateY(0px); opacity: 0;}
		}
		
		.container_left,
		.container_right,
		.container{
			width: 200px;
			height: 150px;
			position: absolute;
			bottom: 0;
			left: 45%;
			
			transition-property: -webkit-transform;
			animation: love 10s linear infinite;
			
			-webkit-transition-property: -webkit-transform;
			 -webkit-animation: love 10s linear infinite;
		}
		
		@keyframes loveleft{
			0% {transform: translateY(0px); opacity: 0;} 
            50% {transform: translateY(-12rem); opacity: 0.2;}
			100% {transform: translateY(0px); opacity: 0;}
		}
		
		@-webkit-keyframes loveleft {
			0% {-webkit-transform: translateX(0px); opacity: 0;} 
            50% {-webkit-transform: translateX(-12rem);  opacity: 0.2;}
			100% {transform: translateY(0px); opacity: 0;}
		}
		
		.container_left{
			left: 15%;
			transition-property: -webkit-transform;
			animation: loveleft 10s linear infinite;
			
			-webkit-transition-property: -webkit-transform;
			 -webkit-animation: loveleft 10s linear infinite;
		}
		
		@keyframes loveright{
			0% {transform: translateY(0px); opacity: 0;} 
            50% {transform: translateY(-12rem); opacity: .2;}
			100% {transform: translateY(0px); opacity: 0;}
		}
		
		@-webkit-keyframes loveright {
			0% {-webkit-transform: translateX(0px);} 
            50% {-webkit-transform: translateX(-12rem);}
			100% {transform: translateY(0px); opacity: .2;}
		}
		
		.container_right{
			left: 75%;
			transition-property: -webkit-transform;
			animation: loveright 10s linear infinite;
			
			-webkit-transition-property: -webkit-transform;
			 -webkit-animation: loveright 10s linear infinite;
		}
		
		.left,
		.right{
			width: 100px;
			height: 150px;
			display: inline-block;
			float: right;
			background-color: red;
			border-radius: 50px 50px 0 0;
		}
		.left{
			transform: rotate(45deg);
		}
		.right{
			transform: translateX(64px) rotate(-45deg);
		}
		
		.control_volume{
			position: absolute;
			width: 100px;
			height: 15rem;
			border: 1px solid red;
			bottom: 10px;
			left: 10px;
			border-radius: 50px 50px 50px 50px;
		}
		
		
		
		
		
		
		