body{
    margin: 0;
    padding: 0;
}
.main{
    width: 50%;
    height: 50vh;
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
/* 这个容器会容纳所有的幻灯片, 所以宽度应该是(count(slides) * 100)%即有几张幻灯片就是百分之几百 */
.slides{
    width: 300%;
    height: 100%;
    border: 1px solid blue;
    display: flex;
    position: relative;
    transition: 3.5s;
}

.slides .slide{
    width: 100%;
    height: 100%;
}
.slides .slide img{
    width: 100%;
    height: 100%;
}
.control_show{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

}
.control_show > label{
    display: inline-block;
    width: 30px;
    height: 10px;
    border: 1px solid white;
}
.control_show > label:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.7);
}
input[name="r"]{
    /* visibility: hidden; */
    display: none;
}

#r1:checked ~ .slides{
    left: 0;
}
#r2:checked ~ .slides{
    left: -100%;
}
#r3:checked ~ .slides{
    left: -200%;
}